<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog-home.css" rel="stylesheet">

    <link href="/css/blog-post.css" rel="stylesheet">

    <link href="/css/contact.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>

<!-- Navigation -->
{{> home/home-nav}}

<!-- Page Content -->
<div class="container">


    {{#if errors}}
        {{#each errors}}
            <div class="alert alert-danger">
                {{message}}
            </div>
        {{/each}}
    {{/if}}

    {{> home/form-msgs}}


    {{{ body }}}
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
{{> home/footer}}

<!-- Bootstrap core JavaScript -->

</body>

</html>
